<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="<%= urls_path %>">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="<%= urls_path %>">My URLs</a>
        <a class="nav-item nav-link" href="<%= new_url_path %>">Create New URL</a>
        <% if current_user %>
          <span class="nav-item nav-link">
            Welcome, <%= current_user.email %>!
          </span>
          <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-warning form-inline" %>
        <% else %>
          <a class="nav-item nav-link" href="<%= new_user_path %>">Register</a>
          <a class="nav-item nav-link" href="<%= login_path %>">Login</a>
        <% end %>
      </div>
    </div>
  </nav>
</header>
